<?xml version='1.0' encoding='utf-8'?>
<widget id="com.scrisstudio.wnr" version="2.0.0-beta" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>wnr</name>
    <description>
        It's a timer app with strong expansibility for computers. The name is an abbr of "Work and Rest".
    </description>
    <author email="scrisqiu@hotmail.com" href="https://roderickqiu.scris.top/">
        Roderick Qiu
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="StatusBarBackgroundColor" value="#F9F9F9" />
        <preference name="StatusBarStyle" value="default" />
        <allow-intent href="market:*" />
        <resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
        <preference name="FadeSplashScreen" value="true"/>
        <preference name="SplashScreenDelay" value="1500" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="ShowSplashScreenSpinner" value="false"/>
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png" />
        <icon background="@color/background" density="ldpi" foreground="res/icon/android/wnrIconldpi.png" />
        <icon background="@color/background" density="mdpi" foreground="res/icon/android/wnrIconmdpi.png" />
        <icon background="@color/background" density="hdpi" foreground="res/icon/android/wnrIconhdpi.png" />
        <icon background="@color/background" density="xhdpi" foreground="res/icon/android/wnrIconxhdpi.png" />
        <icon background="@color/background" density="xxhdpi" foreground="res/icon/android/wnrIconxxhdpi.png" />
        <icon background="@color/background" density="xxxhdpi" foreground="res/icon/android/wnrIconxxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreenDelay" value="0" />
        <preference name="ShowSplashScreen" value="false" />
    </platform>
    <platform name="electron">
        <preference name="SplashScreenDelay" value="0" />
        <preference name="ShowSplashScreen" value="false" />
        <preference name="ElectronSettingsFilePath" value="electron-settings.json" />
    </platform>
</widget>
