html, body{
    font-family: "Source Han Sans CN", -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;/* center in v/h */
    -webkit-app-region: drag;/* let the app draggable */
}
@keyframes showTip{
    from {opacity: 0;}
    to {opacity: 1;}
}

kbd{
    background-color: #5490ea;
    font-weight: lighter;
}
label{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: .5rem;
}
input{
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
    margin: 0rem;
    padding: 1px 0px;
    outline: none;
    border: none;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input[type="range"] {
    -webkit-appearance: none;/* remove default style */
    height:4px;
    padding: 0;
    border: none;
    background: #33333333;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;/* remove default style */
    cursor: default;
    top: 0;
    height: 20px;
    width: 20px;
    background: #5490ea;
    border-radius: 15px;
}
input[type="checkbox"] {
    -webkit-appearance: none;/* remove default style */
    border: solid #5490ea 2px;
    border-radius: 15px;
    width: 24px;
    height: 24px;
    position: absolute;
}
input[type="checkbox"]:checked {
    background-image: url(./res/icons/check.png);
    background-size: contain;
}
input::-webkit-input-placeholder { 
    color: #999999; 
    transition: color.5s; 
}
input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder { 
    color: #999999c2; 
    transition: color.5s; 
}
li{
    line-height: 200%;
}

.work, .work::-webkit-input-placeholder{
    color: #ea5454;
}
.work:focus::-webkit-input-placeholder, .work:hover::-webkit-input-placeholder{
    color: #ea5454c2;
}
.rest, .rest::-webkit-input-placeholder{
    color: #5490ea;
}
.rest:focus::-webkit-input-placeholder, .rest:hover::-webkit-input-placeholder{
    color: #5490eac2;
}
.extreme-small{
    font-size: xx-small;
    line-break: loose;
    line-height: 100%;
    margin: 5px;
}

#main{
    -webkit-app-region: no-drag;/* let it clickable */
    -webkit-user-select: text;
}
#settingscontainer{
    -webkit-app-region: no-drag;/* let it clickable */
    -webkit-user-select: text;
    position: absolute;
    top: 35px;
    left: 35.5px;
    overflow-y:scroll;
    height: 444px;
    width: 90%;
}
#settingscontainer::-webkit-scrollbar-track{
	background-color: #fefefe;
}
#settingscontainer::-webkit-scrollbar{
	width: 12px;
	background-color: #f5f5f5;
}
#settingscontainer::-webkit-scrollbar-thumb{
	background-color: #5555558f;
}
#settingscontainer::-webkit-scrollbar-thumb:active{
    background-color: #4a9af68f;
}
#controller{
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 18px;
    -webkit-app-region: no-drag;/* let it clickable */
    -webkit-user-select: none;
}
#tip{
    position: absolute;
    bottom: 5px;
    opacity: 0;
    -webkit-app-region: no-drag;/* let it clickable */
    -webkit-user-select: none;
}