html, body {
    font-family: "Source Han Sans CN", -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    overflow: hidden;
    align-items: center;
    /* center in v/h */
    -webkit-app-region: drag;
    /* let the app draggable */
}

a {
    display: inline-block;
    border: 4px solid transparent;
    background-clip: padding-box;
}

label {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 1px 0px;
}

input, .focuser, .dropdown-default {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
    padding: 1px 0px;
    outline: none;
    border-width: 0;
}

input, .focuser, .dropdown, .settings-sidebar-block-highlighted, .dropdown-item:hover, .dropdown-item:focus {
    transition: all .08s;
}

input {
    width: 192px;
    background-color: transparent;
}

input:focus, input:active {
    font-weight: bolder;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="text"], input[type="number"], input[type="password"] {
    border-bottom-width: 3px;
    border-bottom-color: transparent;
    margin: 1px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus {
    border-bottom-width: 3px;
    border-bottom-color: #33333333;
}

input[type="text"]:hover, input[type="number"]:hover, input[type="password"]:hover {
    border-bottom-width: 3px;
    border-bottom-color: #33333322;
}

input[type="range"] {
    -webkit-appearance: none;
    /* remove default style */
    height: 4px;
    width: 400px;
    padding: 0;
    border: none;
    background: #33333333;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* remove default style */
    cursor: default;
    top: 0;
    height: 20px;
    width: 20px;
    background: #5490ea;
    border-radius: 15px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    /* remove default style */
    border: solid #5490ea 2px;
    border-radius: 15px;
    width: 24px;
    height: 24px;
    position: relative;
}

input[type="checkbox"]::after {
    font-family: "iconfont" !important;
    font-style: normal;
    font-size: 16px;
    content: '\e7b9';
    color: #fefefe00;
    display: block;
    position: absolute;
    margin-top: -2.4px;
    margin-left: 1.7px;
}

input[type="checkbox"]:checked::after {
    color: #5490ea;
}

input::-webkit-input-placeholder {
    color: #6c757d;
    transition: color.5s;
}

input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder {
    color: #6c757dc2;
    transition: color.5s;
}

select {
    height: 40px;
    margin-top: 5px;
}

select>option:focus {
    background-color: #5490ea;
    color: #fefefe;
}

li {
    line-height: 200%;
}

li input[type="checkbox"]::after {
    margin-top: -5.8px;
    margin-left: 2.1px;
}

::-webkit-scrollbar-track {
    background-color: #fefefe;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #33333333;
}

::-webkit-scrollbar-thumb {
    background-color: #6c757d8f;
}

::-webkit-scrollbar-thumb:active {
    background-color: #4a9af68f;
}

.iconfont {
    font-size: inherit;
}

.settings-sidebar-block {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-height: 100px;
    width: 100%;
    color: #6c757d;
    background-color: #fefefe;
}

.settings-sidebar-block-highlighted {
    color: #fefefe !important;
    background-color: #5490eac2 !important;
}

.underlined {
    text-decoration: underline;
}

.work, .work::-webkit-input-placeholder, .work:hover {
    color: #ea5454;
}

.work:focus::-webkit-input-placeholder, .work:hover::-webkit-input-placeholder {
    color: #ea5454c2;
}

.rest, .rest::-webkit-input-placeholder, .rest:hover {
    color: #5490ea;
}

.rest:focus::-webkit-input-placeholder, .rest:hover::-webkit-input-placeholder {
    color: #5490eac2;
}

.text-grey {
    color: #6c757d;
}

.extreme-small {
    font-size: xx-small;
    line-break: loose;
    line-height: 100%;
    margin: 5px;
}

.hotkeyset {
    color: #6c757d;
    width: 24px;
    height: 20px;
    text-align: center;
}

.dropdown a {
    text-decoration: none;
}

.dropdown-controller {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    -webkit-appearance: none;
    background-color: #6c757d8f;
    border-radius: 0.25rem;
    padding: 0px;
    vertical-align: middle;
    line-height: inherit;
    font-weight: bolder;
}

.dropdown-menu {
    border-width: 1.5px;
}

.dropdown-item {
    font-size: x-small;
    line-height: 200%;
}

.time-bar-focus {
    left: auto !important;
    right: auto !important;
    text-align: center;
}

#controller .dropdown-toggle::before, #controller .dropdown-toggle::after {
    color: #5490ea;
}

#dropdown-menu-button {
    color: #6c757d8f;
}

#edit-defaults {
    width: 40px;
    font-size: xx-small;
}

#focus-work-set, #focus-rest-set {
    border-width: 1px;
    width: 18px;
    height: 18px;
    padding: 8.4px;
}

#focus-work-set::after, #focus-rest-set::after {
    font-size: 14px;
    margin-top: -10.3px;
    margin-left: -7px;
}

#focus-work-set {
    border-color: #ea5454;
}

#focus-work-set:checked, #focus-work-set:checked::after {
    color: #ea5454;
}

#timer {
    line-height: 90%;
}

#timer-error {
    line-height: 150%;
}

#stopper i::before {
    font-size: 2rem;
}

#main {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: text;
}

#settings-title {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
    position: absolute;
    top: 24px;
    left: 20px;
    width: 100%;
    border-bottom: #33333322 solid 1px;
    padding-bottom: 17.3px;
}

#predefined-tasks-sidebar {
    border-top: #33333322 solid 1px;
}

#settings-sidebar {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
    position: absolute;
    top: 75px;
    height: 408px;
    width: 30%;
    border-right: 1px solid #0000001a;
}

#settings-container {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: text;
    position: absolute;
    top: 88px;
    left: 32%;
    overflow-y: scroll;
    height: 375px;
    width: 64%;
}

#settings-container input[type="text"], #settings-container input[type="number"], #settings-container input[type="password"], #passcode-rechecker {
    border-bottom-color: #33333315;
}

#settings-container input[type="text"]:hover, #settings-container input[type="number"]:hover, #settings-container input[type="password"]:hover, #passcode-rechecker:hover {
    border-bottom-color: #33333335;
}

#settings-container input[type="text"]:focus, #settings-container input[type="number"]:focus, #settings-container input[type="password"]:focus, #passcode-rechecker:focus {
    border-bottom-color: #33333325;
}

#settings-helper {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: text;
    position: absolute;
    bottom: 25px;
    right: 14px;
}

#settings-container .dropdwon-menu, #settings-container .dropdown-toggle {
    width: 192px;
}

#settings-container .dropdown-toggle {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
}

#controller, #time-bar, #time-bar-macos {
    position: absolute;
    top: 5px;
    font-size: 18px;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#controller, #time-bar-macos {
    right: 8px;
}

#time-bar {
    left: 8px;
    padding: 2px;
}

#work-rest, #now-timing {
    -webkit-user-select: none;
}

#tip {
    position: absolute;
    bottom: 5px;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#all-sum {
    position: absolute;
    bottom: 25px;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#notes {
    display: inline-block;
    width: 300px;
    word-wrap: break-word;
    line-height: 180%;
    vertical-align: middle;
}

#about {
    position: absolute;
    width: 75%;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: text;
}

#tourguide {
    width: 100%;
    height: 333px;
    border: none;
    outline: none;
}

#bottom-bar {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 0%;
    height: 5px;
    background-color: #ea5454c2;
}

#window-hide {
    margin-bottom: 3px;
}

#dropdown-more {
    margin-bottom: 1px;
}

#dropdown-tasks {
    margin-left: 2.5px;
}

#exit {
    margin-bottom: 0.5px;
}

#passcode-rechecker {
    text-align: center;
}

#personalization input[type="text"] {
    width: 216px;
}

#personalization label {
    font-size: smaller;
}