html, body {
    font-family: -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    background-color: #00000000;
    overflow: hidden;
    align-items: center;
    /* center in v/h */
    -webkit-app-region: drag;
    /* let the app draggable */
}

a {
    display: inline-block;
    border: 4px solid transparent;
    background-clip: padding-box;
}

label {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 1px 0px;
}

input, .focuser, .dropdown-default {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
    padding: 1px 0px;
    outline: none;
    border-width: 0;
}

input, .focuser, .dropdown, .settings-sidebar-block-highlighted, .dropdown-item:hover, .dropdown-item:focus, #notes {
    transition: all .08s;
}

input {
    width: 192px;
    background-color: transparent;
}

input:focus, input:active {
    font-weight: bolder;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="time"] {
    width: fit-content !important;
}

input[type="text"], input[type="number"], input[type="password"] {
    border-color: transparent;
    border-bottom-width: 3px;
    border-radius: 0%;
    margin: 1px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus {
    border-bottom-width: 3px;
    border-bottom-color: #33333333;
}

input[type="text"]:hover, input[type="number"]:hover, input[type="password"]:hover {
    border-bottom-width: 3px;
    border-bottom-color: #33333322;
}

input[type="range"] {
    -webkit-appearance: none;
    /* remove default style */
    height: 4px;
    width: 400px;
    padding: 0;
    border: none;
    background: #33333333;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* remove default style */
    cursor: default;
    top: 0;
    height: 20px;
    width: 20px;
    background: #5490ea;
    border-radius: 15px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    /* remove default style */
    cursor: pointer;
    border: none;
    width: 24px;
    height: 24px;
    margin: -4px 0px 2px 2px;
    position: relative;
}

input[type="checkbox"]::after {
    font-family: "iconfont" !important;
    font-style: normal;
    font-size: 24px;
    content: '\e753';
    color: #5490ea;
    display: block;
    position: absolute;
    margin-top: -10%;
    margin-left: 9%;
}

input[type="checkbox"]:checked::after {
    content: '\e7b9';
}

input::-webkit-input-placeholder {
    color: #6c757d;
    transition: color .5s;
}

input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder {
    color: #6c757dc2;
    transition: color .5s;
}

select {
    height: 40px;
    margin-top: 5px;
}

select > option:focus {
    background-color: #5490ea;
    color: #fefefe;
}

li {
    line-height: 200%;
}

li input[type="checkbox"]::after {
    margin-top: -27%;
    margin-left: 8%;
}

li input:nth-last-child(4)::after {
    margin-left: 12%;
}

::-webkit-scrollbar-track {
    background-color: #fefefe;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 2px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6c757d66;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #4a9af68f;
}

.iconfont {
    font-size: inherit;
}

.display-1 {
    font-weight: lighter;
}

.lead {
    font-weight: inherit;
}

.underlined {
    text-decoration: underline;
}

.work, .work::-webkit-input-placeholder, .work:hover {
    color: #ea5454;
}

.work:focus::-webkit-input-placeholder, .work:hover::-webkit-input-placeholder {
    color: #ea5454c2;
}

.rest, .rest::-webkit-input-placeholder, .rest:hover {
    color: #5490ea;
}

.rest:focus::-webkit-input-placeholder, .rest:hover::-webkit-input-placeholder {
    color: #5490eac2;
}

.onlyRest, .onlyRest::-webkit-input-placeholder, .onlyRest:hover {
    color: #a26ae5;
}

.onlyRest:focus::-webkit-input-placeholder, .onlyRest:hover::-webkit-input-placeholder {
    color: #a26ae5c2;
}

.text-grey {
    color: #6c757d;
}

.positive, .positive::-webkit-input-placeholder, .positive:hover {
    color: #17a2b8;
}

.positive:focus::-webkit-input-placeholder, .positive:hover::-webkit-input-placeholder {
    color: #17a2b8;
}

.extreme-small {
    font-size: x-small;
    line-break: loose;
    line-height: 100%;
    margin: 5px;
}

.xx-small {
    font-size: xx-small;
    line-break: loose;
    line-height: 100%;
}

.display-1 {
    font-size: 7.5rem !important;
    font-weight: 200;
}

.controller-msg {
    padding: 0;
    margin: 0 3px 0 3px;
    transform: translateY(-2px);
}

.controller-msg-big {
    padding: 0;
    margin: 0 3px 0 3px;
    transform: translateY(-3px);
}

.controller-msg-spacing {
    margin-left: 8px;
    margin-right: 10px;
    transform: translateY(-3px) !important;
    display: inline-block;
}

.hotkeyset {
    color: #6c757d;
    width: 24px;
    height: 20px;
    text-align: center;
}

.dropdown a {
    text-decoration: none;
}

.dropdown-controller {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    -webkit-appearance: none;
    background-color: #6c757d8f;
    border-radius: 0.25rem;
    padding: 0px;
    vertical-align: middle;
    line-height: inherit;
    font-weight: bolder;
}

.dropdown-menu {
    border-width: 1.5px;
    margin-top: 9px;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

.dropdown-item {
    font-size: 12px;
    line-height: 200%;
}

.time-bar-focus {
    left: auto !important;
    right: auto !important;
    text-align: center;
}

.btn-outline-primary {
    color: #5490ea;
    border-color: #5490ea;
}

.btn-primary:hover, .btn-outline-primary:hover {
    background-color: #5490ea;
    border-color: #5490ea;
    color: #fff;
}

.header-resize {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    -webkit-app-region: no-drag;
}

.bottom-resize {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    -webkit-app-region: no-drag;
}

.left-resize, .right-resize {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5px;
    -webkit-app-region: no-drag;
}

.left-resize {
    left: 0;
}

.right-resize {
    right: 0;
}

.settings-msg {
    font-size: x-small;
    color: #6c757d !important;
    line-height: 1.5;
    padding-top: 5px;
}

.settings-check {
    margin: -4px 6px 2px 2px !important;
}

.switch-slide {
    margin: 0 2px 1px 0;
}

.switch-slide-label {
    display: block;
    width: 50px;
    height: 24px;
    background: #ccc;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.switch-slide-label:after {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    position: absolute;
    left: 2px;
    top: 1.5px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.switch-slide input:checked + label {
    background: #5490ea;
    transition: 0.3s ease;
}

.switch-slide input:checked + label:after {
    left: 27px;
}

.btn-onlyRest {
    color: #a26ae5;
    border-color: #a26ae5;
}

.btn-onlyRest:hover {
    color: #fff;
    background-color: #a26ae5;
    border-color: #a26ae5;
}

#controller .dropdown-toggle::before, #controller .dropdown-toggle::after {
    color: #5490ea;
}

#set {
    transform: translate(5px, -20px);
}

#set .dropdown-menu {
    margin-top: 6px;
    transform: translateY(50px) !important;
}

#set #dropdown-menu-extend {
    transform: translate(-235px, -80px) !important;
    z-index: 1000;
    width: 220px;
}

#set #dropdown-menu-extend input {
    width: 200px;
    font-size: 11.5px;
}

#dropdown-button-extend {
    color: #6c757d8f;
}

#dropdown-menu-button, #dropdown-menu-menu {
    width: 256px;
    text-align: left;
}

#dropdown-menu-menu {
    padding-top: 8px;
    padding-left: 4px;
    padding-bottom: 0 !important;
    max-height: 200px;
    overflow: auto;
}

#dropdown-menu-button #expand-right {
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 7px;
}

#dropdown-menu-button #expand-left {
    text-align: left;
    display: inline-block;
    position: absolute;
    left: 2px;
}

#dropdown-menu-button::after {
    display: none;
}

#edit-defaults {
    width: 40px;
    font-size: xx-small;
}

#predefined-tasks-edit, #dropdown-menu-menu .dropdown-item {
    border-right: 4px solid transparent;
}

#predefined-tasks-edit {
    margin-bottom: 8px;
}

#focus-work-set::after, #focus-work-set:checked::after {
    color: #ea5454;
}

#focus-rest-set-onlyrest::after, #focus-rest-set-onlyrest:checked::after,
#focus-continueloop-set-onlyrest::after, #focus-continueloop-set-onlyrest:checked::after {
    color: #a26ae5;
}

#timer {
    line-height: 90%;
    transform: translateY(-10px);
}

#timer-error {
    line-height: 150%;
}

#stopper i::before {
    font-size: 2rem;
}

#only-one {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#main {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: text;
}

#settings-title {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
    position: absolute;
    top: 24px;
    left: 20px;
    z-index: -9999;
}

#settings-title-hr {
    position: absolute;
    top: 75px;
    left: 20px;
    right: 20px;
    border-bottom: #33333322 solid 1px;
}

#predefined-tasks-sidebar {
    border-top: #33333322 solid 1px;
}

#settings-container {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: text;
    position: absolute;
    flex-direction: column;
    top: 70px;
    margin: 24px 0 0 18px;
    width: 89%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 525px;
    word-break: normal;
    font-size: 14px;
}

#settings-container::-webkit-scrollbar-track {
    margin-top: 3px;
    margin-bottom: 10px;
}

#settings-container p {
    margin-bottom: 0;
}

#settings-container a {
    border: 0;
}

#settings-container .btn {
    border: 1px solid #007bff;
}

#settings-container input[type="text"], #settings-container input[type="number"], #settings-container input[type="password"], #passcode-rechecker, #extend-form input {
    border-bottom-color: #33333315;
}

#settings-container input[type="text"]:hover, #settings-container input[type="number"]:hover, #settings-container input[type="password"]:hover, #passcode-rechecker:hover, #extend-form input:hover {
    border-bottom-color: #33333335;
}

#settings-container input[type="text"]:focus, #settings-container input[type="number"]:focus, #settings-container input[type="password"]:focus, #passcode-rechecker:focus, #extend-form input:focus {
    border-bottom-color: #33333325;
}

#settings-container ul {
    padding-inline-start: 1.5rem;
    padding-inline-end: 1rem;
}

#settings-container .personalization-notification {
    width: 150px;
    margin-bottom: 6px;
}

#settings-container .hotkey-set-input {
    width: 125px;
    margin-bottom: 6px;
}

#settings-container .dropdown-reserved-button {
    font-size: inherit !important;
}

#settings-container .dropdown .btn, #dropdown-menu-button {
    border-color: transparent;
    border-radius: 0;
    border-bottom-width: 3px;
    padding: .375rem .375rem;
    font-size: .875rem;
    color: #6c757d;
    transition: all .08s;
    border-bottom-color: #33333315;
}

#settings-container .dropdown .btn:hover, #dropdown-menu-button:hover {
    background-color: transparent;
    color: #6c757d8f;
    font-weight: bolder;
    border-bottom-color: #33333335;
}

#settings-container .dropdown .btn:focus, #settings-container .dropdown .btn[aria-expanded=true], #dropdown-menu-button:focus, #dropdown-menu-button[aria-expanded=true] {
    background-color: transparent;
    color: #6c757d8f;
    font-weight: bolder;
    border-bottom-color: #33333335;
    outline: none;
}

#settings-container .dropdown .btn:after {
    vertical-align: 0;
}

#settings-container .card-body {
    padding: 1.8rem .65rem 0 .75rem;
    margin-top: 3px;
}

#settings-container .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#settings-helper {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: text;
    position: absolute;
    bottom: 25px;
    right: 14px;
}

#other-things-sidebar {
    height: 61px;
}

#controller, #time-bar, #time-bar-macos, #logo-bar {
    position: absolute;
    top: 8px;
    font-size: 18px;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#controller, #time-bar-macos {
    right: 10px;
}

#time-bar {
    left: 10px;
    padding: 2px;
}

#logo-bar {
    position: absolute;
    top: 4px;
    left: 10px;
    display: none;
    background-clip: padding-box;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#logo-bar .dropdown-menu {
    margin-top: 6px;
    transform: translate(4px, 36px) !important;
    padding: .36em 0;
}

#logo-bar .dropdown-menu .extreme-small {
    margin: 0;
}

#work-rest, #now-timing {
    -webkit-user-select: none;
}

#all-sum {
    position: absolute;
    bottom: 60px;
    line-height: 1.6;
    z-index: -9999;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#bottom-btn {
    height: 40px;
    width: 256px;
    position: absolute;
    bottom: 18px;
    z-index: 999;
    -webkit-app-region: no-drag;
    /* let it clickable */
}

#notes {
    padding: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 3px #ffffff00;
    display: inline-block;
    width: 300px;
    word-wrap: break-word;
    line-height: 180%;
    vertical-align: middle;
}

#notes:hover {
    border-bottom: solid 3px #33333333;
}

#notes::-webkit-scrollbar {
    display: none;
}

#about {
    height: 80%;
    width: 90%;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: text;
}

#about-content {
    height: 100%;
    border-left: #33333322 solid 1px;
}

#about-content p {
    line-height: 67%;
}

#tourguide {
    position: absolute;
    width: 80%;
    height: 100%;
    -webkit-app-region: drag;
}

#tourguide-content {
    position: absolute;
    line-height: 1.5;
    text-align: left;
    top: 12%;
    border: none;
    outline: none;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: text;
}

#tourguide-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 0;
    z-index: -9999;
}

#switch a {
    font-size: 24px;
    padding: 6px;
    z-index: 9999;
}

#bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2.5%;
    background-color: #ea545499;
    z-index: -9999;
}

#window-hide {
    margin-bottom: 3px;
}

#dropdown-more {
    margin-bottom: 1px;
}

#dropdown-extend {
    margin-left: 14px;
    margin-bottom: 2px;
}

#exit {
    margin-bottom: 0.5px;
}

#passcode-rechecker {
    text-align: center;
}

#personalization input[type="text"] {
    width: 216px;
}

#personalization label {
    font-size: smaller;
}

#fullscreen-custom-dialog {
    line-height: 90%;
    transform: translateY(-8px);
    position: fixed;
    width: 240px;
    border: .7px solid rgba(0, 0, 0, .35);
    box-shadow: 1px 15px 30px rgba(70, 71, 71, 0.55);
    border-radius: 0.25rem;
    background-color: #fefefe;
    line-break: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 18px 15px 18px 15px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

#dialog-buttons {
    z-index: 900;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}

#floating-bottom-bar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    background-color: #ea545419;
    z-index: -9999;
}

#floating-unhover {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    transition: all .16s;
}

#floating-hover {
    opacity: 0;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    transition: all .16s;
}

#floating-hover:hover {
    opacity: 1;
    background-color: #fefefe;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    transition: all .16s;
}

#floating-skipper {
    position: absolute;
    right: 0px;
    bottom: 0px;
    -webkit-app-region: no-drag;
}

#floating-back {
    position: absolute;
    left: 0px;
    bottom: 0px;
    -webkit-app-region: no-drag;
}

#floating-recover {
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-app-region: no-drag;
}

#floating-close {
    position: absolute;
    right: 0px;
    top: 0px;
    -webkit-app-region: no-drag;
}

#floating-stopper {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    -webkit-app-region: no-drag;
}

#new-feature {
    text-align: left;
    line-height: 2.2;
    transform: translateY(10px);
}

#new-feature-description, #new-feature-description-universal {
    padding-top: 5px;
    padding-bottom: 0;
}

#new-feature-btn-container {
    transform: translateY(-9px);
}

#top-bar {
    position: absolute;
    right: 50%;
    top: 18%;
    width: 80%;
    transform: translate(50%, -39%);
    text-align: center;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}

#top-bar a, #index-topbar a {
    color: #6c757d !important;
    line-height: 2;
}

#statistics-no-chart, #statistics-with-chart {
    position: absolute;
    text-align: center;
    vertical-align: top;
    top: 20%;
    width: 80%;
    -webkit-app-region: no-drag;
    -webkit-user-select: text;
}

#statistics-no-chart h1 {
    margin: 12px;
}

#statistics-graph {
    height: 240px;
}

#statistics-back {
    position: absolute;
    bottom: 50%;
    left: 10px;
    font-size: 24px;
    display: inline-block;
    z-index: 9999;
    background-clip: padding-box;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

.reserved-cycle, .dropdown-reserved-button, .dropdown-menu-reserved {
    width: 96px !important;
    font-size: small;
}

.reserved-direct-start {
    margin-left: 5px !important;
    margin-top: 10px !important;
}

.tipsy {
    font-size: 12px;
    position: absolute;
    padding: 5px;
    z-index: 100000;
    opacity: 0.8;
}

.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 6px dashed #000;
    top: 0;
    left: 25%;
    margin-left: -5px;
    border-bottom-style: solid;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-arrow-n {
    border-bottom-color: #6c757dc2;
}

.tipsy-inner {
    background-color: #6c757dc2;
    color: #FFF;
    max-width: 200px;
    margin-top: 1px;
    padding: 5px 8px 4px 8px;
    text-align: center;
    border-radius: 3px;
}

.hotkey-set-label {
    padding-top: 0 !important;
}
