html, body {
    font-family: "Source Han Sans CN", -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    align-items: center;
    /* center in v/h */
    -webkit-app-region: drag;
    /* let the app draggable */
}

label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: .5rem;
}

input, .focuser {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
    margin: 0rem;
    padding: 1px 0px;
    outline: none;
    border: none;
}

input {
    width: 192px;
    background-color: transparent;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="range"] {
    -webkit-appearance: none;
    /* remove default style */
    height: 4px;
    width: 400px;
    padding: 0;
    border: none;
    background: #33333333;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* remove default style */
    cursor: default;
    top: 0;
    height: 20px;
    width: 20px;
    background: #5490ea;
    border-radius: 15px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    /* remove default style */
    border: solid #5490ea 2px;
    border-radius: 15px;
    width: 24px;
    height: 24px;
}

input[type="checkbox"]:checked {
    background-image: url(./res/icons/check.png);
    background-size: contain;
}

input::-webkit-input-placeholder {
    color: #999999;
    transition: color.5s;
}

input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder {
    color: #999999c2;
    transition: color.5s;
}

li {
    line-height: 200%;
}

::-webkit-scrollbar-track {
    background-color: #fefefe;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #5555558f;
}

::-webkit-scrollbar-thumb:active {
    background-color: #4a9af68f;
}

.work, .work::-webkit-input-placeholder {
    color: #ea5454;
}

.work:focus::-webkit-input-placeholder, .work:hover::-webkit-input-placeholder {
    color: #ea5454c2;
}

.rest, .rest::-webkit-input-placeholder {
    color: #5490ea;
}

.rest:focus::-webkit-input-placeholder, .rest:hover::-webkit-input-placeholder {
    color: #5490eac2;
}

.extreme-small {
    font-size: xx-small;
    line-break: loose;
    line-height: 100%;
    margin: 5px;
}

.hotkeyset {
    background-color: #999999;
    color: #fefefe;
    border-radius: 15px;
    width: 24px;
    text-align: center;
}

.dropdown-item {
    font-size: x-small;
}

.dropdown-controller {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    -webkit-appearance: none;
    background-color: #cccccc;
    border-radius: 0.25rem;
    padding: 0px;
    vertical-align: middle;
    line-height: inherit;
}

.dropdown-menu {
    border-width: 1.5px;
}

#dropdownMenuButton {
    color: #999999;
}

#edit-defaults {
    width: 40px;
    font-size: xx-small;
}

#focus-work-set, #focus-rest-set {
    border-width: 1px;
    width: 18px;
    height: 18px;
    padding: 8.4px;
}

#focus-work-set {
    border-color: #ea5454;
}

#focus-work-set:checked {
    background-image: url(./res/icons/check-work.png);
}

#main {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: text;
}

#settingstitle {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
    position: absolute;
    top: 27px;
    left: 35.5px;
    width: 90%;
}

#settingscontainer {
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: text;
    position: absolute;
    top: 75px;
    left: 35.5px;
    overflow-y: scroll;
    height: 382px;
    width: 90%;
}

#controller {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 18px;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#tip {
    position: absolute;
    bottom: 5px;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#allsum {
    position: absolute;
    bottom: 25px;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#note {
    display: inline-block;
    width: 200px;
    word-wrap: break-word;
    line-height: 200%;
    vertical-align: middle;
}

#about {
    position: absolute;
    width: 75%;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: text;
}

#tourguide {
    width: 100%;
    height: 333px;
    border: none;
    outline: none;
}

#loadingtip {
    position: absolute;
    top: 50%;
    bottom: 50%;
}

#bottombar {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 0%;
    height: 6px;
    background-color: #ea5454c2;
}