<?xml version='1.0' encoding='utf-8'?>
<widget id="com.scrisstudio.wnr" version="2.0.0-beta" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>wnr</name>
    <description>
        It's a timer app with strong expansibility for multiple devices. The name is an abbr of \"Work and Rest\".
    </description>
    <author email="scrisqiu@hotmail.com" href="http://roderickqiu.scris.top/">
        Roderick Qiu
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
