html, body {
    font-family: "Source Han Sans CN", "Noto Sans SC", "Noto Sans CJK", -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
    background-color: #f9f9f9;
    display: -webkit-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    /* center in v/h */
    -webkit-app-region: drag;
}

body, input {
    letter-spacing: 0.5px;
}

.electron-no-drag {
    -webkit-app-region: no-drag;
    /* let it clickable */
}

.user-select-none {
    -webkit-user-select: none;
    user-select: none;
}

.user-select-text {
    -webkit-user-select: text;
    user-select: text;
}

.focuser {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
    padding: 1px 0px;
}

.s-input {
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.dropdown-menu {
    display: block;
    opacity: 0;
    transition: opacity 0.12s ease-in-out;
    pointer-events: none;
}

.dropdown-menu.show {
    opacity: 1;
    pointer-events: all;
}

.w-250 {
    width: 250px;
}

.w-225 {
    width: 225px;
}

.w-200 {
    width: 200px;
}

.w-165 {
    width: 165px;
}

.s-input-border-bottom:hover, .s-input-border-bottom:focus {
    border-bottom-width: 3px;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
}

.s-input-check:checked {
    background-image: url(./assets/check.png);
    background-size: contain;
    transition: all 0.2s ease-in-out;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder {
    color: #99999999;
}

.work, .work::placeholder {
    color: #ea5454;
}

.work:focus::placeholder, .work:hover::placeholder {
    color: #ea5454c2;
}

.rest, .rest::placeholder {
    color: #5490ea;
}

.rest:focus::placeholder, .rest:hover::placeholder {
    color: #5490eac2;
}

.timer {
    line-height: 250%;
}

#controller-right {
    position: absolute;
    top: 7px;
    right: 10px;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#controller-left {
    position: absolute;
    top: 7px;
    left: 10px;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#focus-work-set {
    border-color: #ea5454;
}

#focus-work-set:checked {
    background-image: url(./assets/check-work.png);
}

#all-sum {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    -webkit-app-region: no-drag;
    /* let it clickable */
    -webkit-user-select: none;
}

#timer-note {
    left: 0;
    right: 0;
    margin: auto;
}

#backer a {
    text-decoration: underline;
}

#empty-container {
    display: none;
}

@media (max-height:500px) {
    #all-sum {
        /*position: relative;
        bottom: auto;
        display: inline;*/
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: #f9f9f9;
        bottom: auto;
    }
    #empty-container {
        display: block;
    }
}